/*1*/
.Smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
#wrapper {
    width: 800px;
    margin: 50px auto;
    border: 1px solid black;
}

#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #484848;
}

#menu a {
    margin: 0 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font: bold 14px Arial;
}

#menu a:hover,
#menu a.active {
    color: #484848;
    background-color: #fff;
}

#content {
    padding: 0 30px 20px;
}

#content h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

#content p {
    padding: 0 10px;
    margin-bottom: 5px;
    font: 18px/1.3 Arial;
    text-align: justify;
}

/*2*/
#wrapper {
    width: 800px;
    margin: 50px auto;
    border: 1px solid #efff11;
}

#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f4ff1e;
}

#menu a {
    margin: 0 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font: bold 14px Arial;
}

#menu a:hover,
#menu a.active {
    color: #fada4a;
    background-color: #fff;
}

#content {
    padding: 0 30px 20px;
}

#content h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fae24a;
}

#content p {
    padding: 0 10px;
    margin-bottom: 5px;
    font: 18px/1.3 Arial;
    text-align: justify;
    color: #e0fa4a;
}

.link {
    color: rgb(247, 244, 43);
    text-decoration: none;
    font-weight: bold;
}

/*3*/
#wrapper {
    width: 800px;
    margin: 50px auto;
    border: 1px solid #d7fa4a;
}

#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f7fa4a;
}

#menu a {
    margin: 0 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font: bold 14px Arial;
}

#menu a:hover,
#menu a.active {
    color: #ddfa4a;
    background-color: #fff;
}

#content {
    padding: 0 30px 20px;
}

#content h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #faf14a;
}

.link {
    color: rgb(223, 247, 43);
    text-decoration: none;
    font-weight: bold;
}

.aaa,
.bbb,
.vvv {
    border: 1px solid black;
    margin: 20px;
}

#content {
    padding: 0 30px 20px;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

#content p {
    padding: 1 10px;
    margin-bottom: 2px;
    font: 15px/1.3 Arial;
    text-align: justify;
}