.parent {
    border: 1px solid red;
}

.parent img {
    float: left;
}

.clearfix {
    clear: both;
}
.Smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}