#inline1 span {
    border: 1px solid rgb(198, 246, 101);
}

#inline1 span {
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(189, 244, 78);
    margin-bottom: 20px;
}

#block1 span{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(195, 252, 81);
    margin-bottom: 20px;
}
.Smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}