.smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
.aaa, .bbb, .vvv {
    text-align: center;
}

.aaa{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(216, 246, 19);
    border-radius: 10px;
}
.bbb{
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: #b6d022;
}
.vvv{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid rgb(143, 242, 143);
}