.smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
.lower {
    list-style-type:lower-alpha;
}

.greek {
    list-style-type:lower-greek;
}

.upper {
    list-style-type:upper-alpha;
}