.parent{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}
.parent1 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}
.parent2 {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}

.parent3 {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}
.ccc {
    width: 70px;
    height: 50px;
    border: 1px solid green;
}
.ddd {
    width: 70px;
    height: 50px;
    border: 1px solid green;
} 
.bbb {
    width: 70px;
    height: 50px;
    border: 1px solid green;
}
.aaa {
    width: 70px;
    height: 50px;
    border: 1px solid green;
}