#block1 {
	color: rgb(232, 74, 211);
}
#block2 {
	color: rgb(16, 203, 245);
}
#block3 {
	color: rgb(255, 102, 0);
}
.smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(160, 204, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}