.Smeshariki {
    padding: 10px;
    margin: 10px;
    background: rgb(202, 252, 52);
    color: rgb(74, 11, 249);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
div {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid rgb(0, 255, 26);
}