.ty {
	color: rgb(144, 214, 144);
}
.oi {
	color: rgb(0, 255, 251);
}
.xa {
	font-size: 35px;
}
.la {
	font-size: 40px;
}
.pa
{
	font-size: x-large;
}
.pi
{
	color: rgb(157, 157, 102);
	font-size: 20px;
}
.li
{
	color: rgb(255, 0, 230);
}
.on{
    background: rgb(149, 241, 244);
    color: rgb(154, 230, 33);
}
.to{
    font-size: 30px;
    color: rgb(247, 105, 134);
}
